DATABASE_URL=conectar com banco de dados postgresql usando a url de conexão fornecida.
SECRET_KEY=chave secreta para criptografia e segurança.
ALGORITHM=algoritmo de criptografia utilizado para gerar tokens de acesso.
ACCESS_TOKEN_EXPIRE_MINUTES=tempo de expiração dos tokens de acesso em minutos.